[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/gpodcast
[access "refs/for/refs/*"]
	read = group user/gpodcast
	push = group user/gpodcast
	label-Code-Review = -2..+2 group user/gpodcast
	label-Verified = -1..+1 group user/gpodcast
	rebase = group user/gpodcast
	removeReviewer = group user/gpodcast
	submit = group user/gpodcast
[access "refs/heads/*"]
	read = group user/gpodcast
	create = group user/gpodcast
	push = +force group user/gpodcast
	pushMerge = group user/gpodcast
[access "refs/tags/*"]
	push = +force group user/gpodcast
	pushTag = group user/gpodcast
	pushSignedTag = group user/gpodcast
